<a href="https://colab.research.google.com/github/thisisesther/CODETOPIA-A/blob/main/Copy_of_Assignment_2_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BOOLEANS

**MINI CHALLENGE #1:** 
- **What will this code generate?**
```
number_of_pens = 20
number_of_bicycles = 30
print((number_of_pens < number_of_bicycles))
print(number_of_pens == number_of_bicycles)
```

In [35]:
number_of_pens = 20
number_of_bicycles = 30
print((number_of_pens < number_of_bicycles))
print(number_of_pens == number_of_bicycles)

True
False

# 2. LIST

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
list_1 = ["NAME", "AGE", "SEX", "KOFI", "222", "AMA", "YAW"]
```

In [60]:
list_1 = ["NAME", "AGE", "SEX", "KOFI", "222", "AMA", "YAW"]
print([list_1[0],list_1[1],list_1[-1]])
print([list_1, list_1[0:-4], list_1[-3: ]])

['NAME', 'AGE', 'YAW']
[['NAME', 'AGE', 'SEX', 'KOFI', '222', 'AMA', 'YAW'], ['NAME', 'AGE', 'SEX'], ['222', 'AMA', 'YAW']]

**MINI CHALLENGE #3:** 
- **Print NAME**
- **Print AGE, NAME, KOFI** 
- **Print T with two different ways**

```
my_list = ["KWAMI", ["AGE", "NAME", "KOFI"], "YAW", "T"]
```

In [10]:
my_list = ["KWAME",["AGE", "NAME", "KOFI"], "YAW", "T"]
print(my_list[1][1])
print(my_list[1])
print(my_list[-1])
print(my_list[3])

NAME
['AGE', 'NAME', 'KOFI']
T
T

# 3. DICTIONARY

**MINI CHALLENGE #4:**
- **Create a dictionary with 6 of your favourite items and their prices**

In [22]:
my_dictionary = {"shoes": "$122", "bag":"$100", "earring":"$10", "necklace":"$50", "watch":"$80","wig":"$600"}
print(my_dictionary)

{'shoes': '$122', 'bag': '$100', 'earring': '$10', 'necklace': '$50', 'watch': '$80', 'wig': '$600'}

# 4. STRINGS

**MINI CHALLENGE #5:**
- **Write a code that takes an input from a student asking him/her about their feedback regarding the course. The code should split the atudent input into words and print them on screen**

In [68]:
message = input("what is your feedback regarding the course?:").split()

what is your feedback regarding the course?:explanatory

**MINI CHALLENGE #6:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

# 5. TUPLES

**MINI CHALLENGE #7:**
- **Define a tuple with your first name, last name, age and the number of friends. Find the length and type as well.**

In [24]:
tuple_1 = ('Esther', 'Amponsa',32,4 )
print(len(tuple_1))
print(type(tuple_1))

4
<class 'tuple'>

# 6. SETS

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['NAME', 'AGE', 'T','SEX','T','AGE', 5, 6,5]
```

In [34]:
my_list = ['NAME', 'AGE','T','SEX','T','AGE',5,6,5]
my_list = {'NAME', 'AGE', 'T','SEX','T','AGE',5,6,5}
print(my_list)

{'AGE', 'T', 5, 6, 'NAME', 'SEX'}