<a href="https://colab.research.google.com/github/thisisesther/CODETOPIA-A/blob/main/Copy_of_Copy_of_Assignment_1_Variables_Assignment%2C_Math_Ops%2C_Precedence%2C_and_Print_Get.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. VARIABLES ASSIGNMENT

**MINI CHALLENGE #1:**
- **We defined a variable student_id and we assigned these 3 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
student_id = 3324
student_id = 3400
student_id = 3530
student_id
```

In [ ]:
student_id = 3324
student_id = 3400
student_id = 3530
student_id

3530

**MINI CHALLENGE #2:**
- **We defined a variable codetopia_id and we assigned these 2 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
codetopia_id = 112
codetopia_id = 115.3
type(codetopia_id)
```

In [ ]:
codetopia_id = 112
codetopia_id = 115.3
type(codetopia_id)

float

# 2. MATH OPERATIONS

**MINI CHALLENGE #3:** 
- **Write a code that calculates the total amount of money codetopia management spends on tutor fees if the total number of tutors are 23 and each tutor is paid 2500 cedis**

In [2]:
number_tutors = 23
tutors_salary = 2500
total_salary = number_tutors * tutors_salary
total_salary

57500

**MINI CHALLENGE #4:**
- **Write a code that takes in the amount students paid a day and calculate the total amount of money received after two days:**
  - **fees paid on day 1 = 260 cedis** 
  - **fees paid on day 2 = 280 cedis**

In [9]:
fees_dayone = 260
fees_daytwo = 280
total_received = fees_dayone + fees_daytwo
total_received

540

# 3. ORDER OF OPERATIONS (PRECEDENCE)

**MINI CHALLENGE #5:**
- **Assume that 15 students joined the coding program at a fee of 300 cedis per a student. Codetopia later increased the fee to 500 cedis per a student. Calculate the profit that will be made.**

In [10]:
student_count = 15
initial_fee = 300
final_fee = 500
profit = student_count * (final_fee - initial_fee)
profit

3000

**MINI CHALLENGE #6:** 
- **Write a code that performs the following mathematical operation: z = |x âˆ’ y| * (x + y)**

In [11]:
x = int(input("enter a number?:"))
y = int(input("enter a number?:"))
z = abs(x - y)*(x + y)
z

enter a number?:10
enter a number?:20

300

# 4. PRINT OPERATION

**MINI CHALLENGE #7:**
- **Write a code that print out the statement below along with your name**
- **i.e.: The total number of students at Codetopia are 30. (Barbara)**

In [15]:
print('The total number of students at Codetopia are 30. (Esther)')

The total number of students at Codetopia are 30. (Esther)

# 5. GET USER INPUT

**MINI CHALLENGE #8:** 
- **Write a code that takes in the name of the company, course fee, the number of courses that you want to study and prints out the total funds required to pay for the courses. Find a sample expected output below:**

  - Enter the fee for a course you want to study: 3000  
  - Enter the number of courses that you want to pay for: 5
  - Enter the name of the company that you want to study at: UniDev
  - The total funds required to pay for 5 number of Codetopia courses at 3000 is 15000

In [27]:
courses_number = 5
company_name = 'UniDev'
course_fee = 3000
total_funds = 15000
message = "The total funds required to pay for {} number of {} courses at {} is {}". format(courses_number, company_name, course_fee, total_funds)
print(message)

The total funds required to pay for 5 number of UniDev courses at 3000 is 15000

# EXCELLENT JOB